@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-section{
    background-color: blue;
}

 .top-banner{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 200px;
    
}
.text-area{
    margin-top: 150px;
    font-weight:900;
    color: white;
}
.button{
    background-color: #E02C6D;
    text-decoration: none;
    margin-right: 0;
    padding: 10px 15px;
    color: antiquewhite;
}

.animated-banner img{
    width: 550px;
    height: 440px;
    margin-left: 100px
}
.animated-banner:hover{
    background-color: aliceblue;
}